<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelMessageLoggingListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
            <source name="System.ServiceModel" switchValue="Warning, ActivityTracing"
                propagateActivity="true">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelTraceListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="c:\documents and settings\naveh\my documents\visual studio 2008\projects\MyMultiFederationSample\service\app_messages.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
            <add initializeData="c:\documents and settings\naveh\my documents\visual studio 2008\projects\MyMultiFederationSample\service\app_tracelog.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
        </sharedListeners>
        <trace autoflush="true" />
    </system.diagnostics>
    <system.serviceModel>
        <diagnostics>
            <messageLogging logEntireMessage="true" logMalformedMessages="true"
                logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
        </diagnostics>
        <bindings>
            <customBinding>
                <binding name="serviceBinding">
                    <textMessageEncoding />
                    <security authenticationMode="IssuedToken" requireSecurityContextCancellation="false">
                        <secureConversationBootstrap />
                    </security>
                    <httpTransport />
                </binding>
            </customBinding>
            <wsFederationHttpBinding>
                <binding name="certificate">
                    <security>
                        <message negotiateServiceCredential="false" />
                    </security>
                </binding>
            </wsFederationHttpBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="ServiceBehavior">
                    <serviceDebug includeExceptionDetailInFaults="true" />
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceCredentials>
                        <serviceCertificate findValue="CN=MyService" />
                        <issuedTokenAuthentication certificateValidationMode="None" revocationMode="NoCheck"
                            allowUntrustedRsaIssuers="true">
                            <knownCertificates>
                                <add findValue="CN=MyServiceSTS" storeLocation="LocalMachine" storeName="My"
                                    x509FindType="FindBySubjectDistinguishedName" />
                            </knownCertificates>
                        </issuedTokenAuthentication>
                    </serviceCredentials>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="ServiceBehavior" name="WeatherChannel.ForacstService">
                <endpoint binding="customBinding" bindingConfiguration="serviceBinding"
                    contract="WeatherChannel.IForacstService" />
                <endpoint address="certificate" binding="wsFederationHttpBinding"
                    bindingConfiguration="certificate" contract="WeatherChannel.IForacstService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:9090/service" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>