<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <client>
            <endpoint address="http://localhost:8092/MyService" binding="wsHttpBinding"
                contract="ServiceReference1.IMyService" name="WSHttpBinding_IMyService"
                      behaviorConfiguration="clientInspectorsAdded">
                <identity>
                    <userPrincipalName value="agbareya@emea.cpqcorp.net" />
                </identity>
            </endpoint>
        </client>

      <behaviors>
        <endpointBehaviors>
          <behavior name="clientInspectorsAdded">
            <MyBehaviorExtensionElement />
          </behavior>
        </endpointBehaviors>
      </behaviors>

      <extensions>
        <behaviorExtensions>
          <add name="MyBehaviorExtensionElement"
            type="WcfClientWithInspector.MyBehaviorExtensionElement, WcfClientWithInspector, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        </behaviorExtensions>
      </extensions>
      
    </system.serviceModel>
</configuration>