<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelMessageLoggingListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
            <source name="System.ServiceModel" switchValue="Warning, ActivityTracing"
                propagateActivity="true">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelTraceListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="c:\documents and settings\naveh\my documents\visual studio 2008\projects\MyMultiFederationSample\client\app_messages.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
            <add initializeData="c:\documents and settings\naveh\my documents\visual studio 2008\projects\MyMultiFederationSample\client\app_tracelog.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
        </sharedListeners>
        <trace autoflush="true" />
    </system.diagnostics>
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="certificates">
                    <clientCredentials>
                        <clientCertificate findValue="CN=WSE2QuickStartClient" />
                        <serviceCertificate>
                            <scopedCertificates>
                                <add targetUri="http://localhost:9092/STSService/certificate"
                                    findValue="CN=MyServiceSTS" storeLocation="LocalMachine" storeName="My"
                                    x509FindType="FindBySubjectDistinguishedName" />
                                <add targetUri="http://localhost:9090/service/certificate" findValue="CN=MyService"
                                    storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectDistinguishedName" />
                                <add targetUri="http://localhost:9091/STSHome/certificate" findValue="CN=MyHomeSTS"
                                    storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectDistinguishedName" />
                            </scopedCertificates>
                        </serviceCertificate>
                    </clientCredentials>
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <diagnostics>
            <messageLogging logEntireMessage="true" logMalformedMessages="true"
                logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
        </diagnostics>
        <bindings>
            <customBinding>
                <binding name="applicationServiceBinding">
                    <textMessageEncoding />
                    <security authenticationMode="IssuedToken">
                        <issuedTokenParameters tokenType="http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV1.1">
                            <issuer address="http://localhost:9092/STSService" binding="customBinding"
                                bindingConfiguration="STSServiceBinding" />
                        </issuedTokenParameters>
                        <secureConversationBootstrap />
                    </security>
                    <httpTransport />
                </binding>
                <binding name="STSServiceBinding">
                    <textMessageEncoding />
                    <security authenticationMode="IssuedToken">
                        <issuedTokenParameters tokenType="http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV1.1">
                            <issuer address="http://localhost:9091/STSHome" binding="wsHttpBinding"
                                bindingConfiguration="STSHomeBinding" />
                        </issuedTokenParameters>
                        <secureConversationBootstrap />
                    </security>
                    <httpTransport />
                </binding>
            </customBinding>
            <wsFederationHttpBinding>
                <binding name="certificateServer">
                    <security>
                        <message issuedTokenType="http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV1.1"
                            negotiateServiceCredential="false">
                            <issuer address="http://localhost:9092/STSService/certificate"
                                binding="wsFederationHttpBinding" bindingConfiguration="certificateServiceSTS">
                                <identity>
                                    <dns value="MyServiceSTS" />
                                </identity>
                            </issuer>
                        </message>
                    </security>
                </binding>
                <binding name="certificateServiceSTS">
                    <security>
                        <message issuedTokenType="http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV1.1"
                            negotiateServiceCredential="false">
                            <issuer address="http://localhost:9091/STSHome/certificate" binding="wsHttpBinding"
                                bindingConfiguration="certificateHomeSTS">
                                <identity>
                                    <dns value="MyHomeSTS" />
                                </identity>
                            </issuer>
                        </message>
                    </security>
                </binding>
            </wsFederationHttpBinding>
            <wsHttpBinding>
                <binding name="STSHomeBinding">
                    <security>
                        <message clientCredentialType="Windows" establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="certificateHomeSTS">
                    <security>
                        <message clientCredentialType="Certificate" negotiateServiceCredential="false" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9090/service" binding="customBinding"
                bindingConfiguration="applicationServiceBinding" contract="WeatherServiceReference.IForacstService"
                name="WSHttpBinding_IForacstService">
                <identity>
                    <userPrincipalName value="naveh@emea.cpqcorp.net" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:9090/service/certificate"
                behaviorConfiguration="certificates" binding="wsFederationHttpBinding"
                bindingConfiguration="certificateServer" contract="WeatherServiceReference.IForacstService"
                name="certificate">
                <identity>
                    <dns value="MyService" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>