<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="myBinding">
          <textMessageEncoding />
          <security authenticationMode="MutualCertificateDuplex">
            <secureConversationBootstrap />
          </security>
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="myBehavior" name="ClassLibrary1.Service1">
        <endpoint address="" binding="customBinding" bindingConfiguration="myBinding"
          contract="ClassLibrary1.IService1" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8001" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="myBehavior">
          <serviceCredentials>
            <clientCertificate>
              <certificate findValue="CN=xwssecurityclient, OU=SUN, O=Internet Widgits Pty Ltd, S=Some-State, C=AU"
                storeLocation="CurrentUser" x509FindType="FindBySubjectDistinguishedName" />
              <authentication certificateValidationMode="None" trustedStoreLocation="CurrentUser" />
            </clientCertificate>
            <serviceCertificate findValue="CN=xwssecurityserver, OU=SUN, O=Internet Widgits Pty Ltd, S=Some-State, C=AU"
              storeLocation="CurrentUser" x509FindType="FindBySubjectDistinguishedName" />
          </serviceCredentials>
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>