<protocols scenario="customBinding" xmlns="http://hp/ServiceTest/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <identities>  

    <server>
      <certificate>
        <windowsStore>
          <storeLocation>CurrentUser</storeLocation>
          <storeName>TrustedPeople</storeName>
          <X509FindType>FindBySubjectDistinguishedName</X509FindType>
          <X509FindValue>CN=localhost</X509FindValue>
        </windowsStore>
      </certificate>
      <expectedDns>localhost</expectedDns>
    </server>    
  </identities>

  <customization>
        <security defaultAlgorithmSuite="Basic256" authenticationMode="SecureConversation" includeTimestamp="true" >
          	<secureConversationBootstrap authenticationMode="IssuedTokenForSslNegotiated">
			
			<issuedTokenParameters tokenType="http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV1.1">
				<claimTypeRequirements>
		                        <add claimType="http://new claim" isOptional="false" />
		                        <add claimType="http://new claim2" />
	                        </claimTypeRequirements>
				<issuer address="http://yneeman01/STS/STS.svc" protocolsScenarioName="wsHttpBinding" />
			</issuedTokenParameters>
			
          	</secureConversationBootstrap >
        </security>

        <textMessageEncoding messageVersion="Soap11WSAddressing10" />

        <httpTransport />
  </customization>


  <referencedConfigurations>
    <protocols scenario="wsHttpSPNego" name="wsHttpBinding">      
      

    </protocols>    
  </referencedConfigurations>
  
</protocols>