<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="ClearUsernameWcfService.UsernameTokenValidator, ClearUsernameWcfService"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <services>
      <service name="ClearUsernameWcfService.ClearUsernameService">
        <endpoint address="" binding="clearUsername" bindingConfiguration="myUsernameBinding" contract="ClearUsernameWcfService.IClearUsernameService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    
    <extensions>
      <bindingExtensions>
        <add name="clearUsername" type="WebServices20.BindingExtenions.ClearUsernameCollectionElement, ClearUsernameBinding"/>
      </bindingExtensions>
    </extensions>

    <bindings>
      <clearUsername>
        <binding name="myUsernameBinding" messageVersion="Soap11"/>          
      </clearUsername>
    </bindings>
    
  </system.serviceModel>
</configuration>
