<protocols scenario="customBinding" xmlns="http://hp/ServiceTest/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <identities>  

    <server>
      <certificate>
	<windowsStore>
	<storeLocation>LocalMachine</storeLocation>
	<storeName>TrustedPeople</storeName>
	<X509FindType>FindBySubjectDistinguishedName</X509FindType>
	<X509FindValue>CN=localhost</X509FindValue>
	</windowsStore>
      </certificate>
	<scopedCertificates>
                  <add targetUri="http://YNEEMAN01.emea.hpqcorp.net/FederationScopedCert/STS4IIS/STS.svc">
			<certificate>
				<windowsStore>
					<storeLocation>LocalMachine</storeLocation>
					<storeName>TrustedPeople</storeName>
					<X509FindType>FindBySubjectDistinguishedName</X509FindType>
					<X509FindValue>CN=STS</X509FindValue>
				</windowsStore>
			</certificate>
		</add>
	</scopedCertificates>
      <expectedDns>localhost</expectedDns>
    </server>    
  </identities>

  <customization>
	<textMessageEncoding messageVersion="Soap11WSAddressing10" />
        <security defaultAlgorithmSuite="Basic256" authenticationMode="SecureConversation" 
			includeTimestamp="true">

          	<secureConversationBootstrap authenticationMode="IssuedTokenForCertificate">
			
			<issuedTokenParameters tokenType="http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV1.1">
				<issuer address="http://YNEEMAN01.emea.hpqcorp.net/FederationScopedCert/STS4IIS/STS.svc" protocolsScenarioName="STSBinding" />
			</issuedTokenParameters>
			
          	</secureConversationBootstrap >
        </security>
        <httpTransport />
  </customization>

  <referencedConfigurations>
    <protocols scenario="wsAnonymousClient" name="STSBinding">      
	<identities>  
	<server>
		<expectedDns>STS</expectedDns>
	</server>
	</identities>  
	<customization>
		<security authenticationMode="IssuedTokenForCertificate" defaultAlgorithmSuite="Basic256" negotiateServiceCredential="False" establishSecurityContext="False"/>
	</customization>
    </protocols>    
  </referencedConfigurations>
  
</protocols>